
body {
  background-image: url("/croquettes-2795548.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

.section-cards,
.section-calculator {
  background-color: rgba(255, 255, 255, 0.1); /* Totalmente transparente */
  border-radius: 10px;
  padding: 20px;
}


.section-cards {
  width: 85%;
  text-align: center;
}

.section-calculator {
  width: 15%;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .section-cards, .section-calculator {
    width: 90%;
  }
}
